.logo {
  display: block;
  width: 272px;
  height: 92px;
  margin: auto;
  padding-top: 109px;
}

.searchbar {

}

.searchbar {
  display: block;
  width: 559px;
  height: 34px;
  margin: 0 auto;
  padding: 109;
  border-radius: 2px;
}
