ul {
  list-style-type: none;
}

li {
  display: inline;
}

.nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.toolbar {
  float:right;
  padding: 0 30px;
  margin-top: 8px;
}

.toolbar li {
  position: relative;
  padding: 0 7px;
}

#apps {
  background: url(images/google-images.png) 528px 68px;
  background-position: -132px -38px;
  width: 30x;
  height: 30px;
  display: inline-block;
  position: relative;
  top: 10px;
  opacity: .55;
}


.logo {
  display: block;
  width: 272px;
  height: 92px;
  margin: auto;
  padding-top: 109px;
  clear: right;
}

.searchbar {

}

.searchbar {
  display: block;
  width: 559px;
  height: 34px;
  margin: 0 auto;
  padding: 109;
  border-radius: 2px;
}
