ul {
  list-style-type: none;
  margin: 0;
  padding: 0 30px 0 30px;
  width: 223px;
  float: right;
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}

li {
  display: inline;
}

#apps {
  width: 30px;
  height: 30px;
  background: url(images/google-images.png) 528px 68px;
  background-position: -132px -38px;
  opacity: 0.55;
}


.logo {
  display: block;
  width: 272px;
  height: 92px;
  margin: auto;
  padding-top: 109px;
  clear: right;
}

.searchbar {

}

.searchbar {
  display: block;
  width: 559px;
  height: 34px;
  margin: 0 auto;
  padding: 109;
  border-radius: 2px;
}
